@model GeniView.Cloud.Models.MailServer

@{
    ViewBag.Title = "Mail Server";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="panel maincontainer">
            <div class="panel-heading clearfix">
                <div class="panel-title pull-left">@ViewBag.Title</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal col-md-6">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Host, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Host, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Host, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Port, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Port, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Port, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.User, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", autocomplete = "new-password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ReplyTo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ReplyTo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ReplyTo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Delivery Method", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EnumDropDownListFor(model => model.DeliveryMethod, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DeliveryMethod, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Enable SSL", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <label class="control-label">
                                    @Html.CheckBoxFor(model => model.EnableSsl, new { htmlAttributes = new { @class = "checkbox" } })
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@ViewBag.ViewMode" class="btn btn-default" />
                                @Html.ActionLink("Verify E-mail", "Verify", null, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @if (TempData["Success"] != null)
                        {
                        <div class="alert alert-success">
                            <strong>@TempData["Success"].ToString()</strong>
                        </div>
                        }
                        @if (TempData["Alert"] != null)
                        {
                        <div class="alert alert-danger">
                            <strong>@TempData["Alert"].ToString()</strong>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}

