@model GeniView.Cloud.Models.BatteryHistoryLogFilter
@using GeniView.Cloud.Models;
@{
    ViewBag.Title = "Battery Log History";
}
<link rel="stylesheet" type="text/css" href="~/Content/jquery.datetimepicker.min.css" />
<style>
    div.dt-buttons {
        float: right;
        margin-left: 10px;
        margin-top: -5px;
    }
</style>
@section scripts
  {
    @Scripts.Render("~/bundles/datetimescripts")
    <script type="text/javascript">
        $(document).ready(function () {
            var oTable = $('#BatteryLogHistory').DataTable({
                dom: '<"col-md-6"l><"col-md-6"Bf>tip',
                buttons: [
                     {
                         extend: 'excelHtml5',//extend:'csv',
                         text: 'Download (*.xlsx)',
                         filename: 'Battery Log History'
                     },
                ],
                order: [1, 'desc'],
                columnDefs: [{ type: "date", targets: 1 }],
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            });
        })
    </script>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="panel maincontainer">
            <div class="panel-heading">Filters</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Begin Date", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.BeginDate, new { htmlAttributes = new { @class = "form-control", @value = Model.BeginDate, @id = "fBeginDate" } })<br>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("End Date", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", @value = Model.EndDate, @id = "fEndDate" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Log Count", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control", @Value = Model.Count } }) <br>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Event Code", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.CheckBoxFor(model => model.isPeriodicDataTriggerIncluded, new { htmlAttributes = new { @class = "checkbox", @id = "isPeriodicDataTriggerIncluded" } })  <label for="isPeriodicDataTriggerIncluded">Include Periodic Data Logging Trigger</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Refresh", htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                <input type="submit" value="Apply" class="btn btn-default form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="panel maincontainer">
        <div class="panel-heading">Serial Number : @ViewBag.BatterySerialNumber</div>
        <div class="panel-body" style="overflow-x: scroll;">
            <div>@Html.ValidationMessage("DbFail", new { @class = "text-danger" })</div>
            <table class="table borderless" id="BatteryLogHistory">
                <thead>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayName("Index")
                        </th>
                        <th class="text-center">
                            @Html.DisplayName("Timestamp")
                        </th>
                        <th class="text-center">
                            @Html.DisplayName("Event Code Prefix")
                        </th>
                        <th class="text-center">
                            @Html.DisplayName("Event Code")
                        </th>
                        @*<th class="text-center">
                            @Html.DisplayName("Bay")
                        </th>*@
                        @*<th class="text-center">
                            @Html.DisplayName("BSN")
                        </th>*@
                        <th class="text-center">
                            @Html.DisplayName("Firmware")
                        </th>
                        <th class="text-center">
                            @Html.DisplayName("Device Serial Number")
                        </th>
                        <th class="text-center">
                            @Html.DisplayName("Voltage")
                        </th>
                        <th class="text-center">
                            @Html.DisplayName("Current")
                        </th>
                        <th class="text-center">
                            @Html.DisplayName("Average Current")
                        </th>
                        <th class="text-center">
                            @Html.DisplayName("Relative State of Charge")
                        </th>
                        <th class="text-center">
                            @Html.DisplayName("Remaining Capacity")
                        </th>
                        @*<th class="text-center">
                            @Html.DisplayName("Oem Identifier")
                        </th>*@
                        <th class="text-center">
                            @Html.DisplayName("Cycle Count")
                        </th>
                        <th class="text-center">
                            @Html.DisplayName("Status A")
                        </th>
                        <th class="text-center">
                            @Html.DisplayName("Status B")
                        </th>
                        <th class="text-center">
                            @Html.DisplayName("Temperature")
                        </th>
                        <th class="text-center">
                            @Html.DisplayName("Calculated Capacity")
                        </th>
                    </tr>
                </thead>
                @if (Model.LogList != null)
                {
                    <tbody>
                        @foreach (var item in Model.LogList)
                        {
                            <tr>
                                <td class="text-center">
                                    @item.LogIndex
                                </td>
                                <td class="text-center">
                                    @TimeZoneHelper.GetLocalDateTime(item.Timestamp, ViewBag.currentUser)
                                </td>
                                <td class="text-center">
                                    @{ string b = item.EventCodeRaw / 10 == 0 ? "0" : ""; }
                                    @("EV" + b + item.EventCodeRaw)
                                </td>
                                <td class="text-center">
                                    @item.EventCodeText
                                </td>
                                @*<td class="text-center">
                                    @item.Bay
                                </td>*@
                                @*<td class="text-center">
                                    @item.BatterySerialNumber
                                </td>*@
                                <td class="text-center">
                                   @item.BatteryFirmwareVersion
                                </td>
                                <td class="text-center">
                                   @item.DeviceSerialNumber
                                </td>
                                <td class="text-center">
                                    @item.Voltage
                                </td>
                                <td class="text-center">
                                    @item.Current
                                </td>
                                <td class="text-center">
                                    @item.AverageCurrent
                                </td>
                                <td class="text-center">
                                    @item.RelativeStateOfCharge
                                </td>
                                <td class="text-center">
                                    @item.RemainingCapacity
                                </td>
                                @*<td class="text-center">
                                    @item.OemIdentifier.ToString("X")
                                </td>*@
                                <td class="text-center">
                                    @item.CycleCount
                                </td>
                                <td class="text-center">
                                    @item.BatteryOperatingStatus.StatusAText
                                </td>
                                <td class="text-center">
                                    @item.BatteryOperatingStatus.StatusBText
                                </td>
                                <td class="text-center">
                                    @item.Temperature
                                </td>
                                <td class="text-center">
                                    @item.CalculatedCapacity
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>